.Contact {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-height: 100vh;
  max-width: 100%;
  width: 100vw;
  background: linear-gradient(0deg,rgba(0,0,0,.25),rgba(255,180,1,0.5)),url('../../assets/img/harapan15.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.customIcon {
  color: white;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  width: 60%;
}