@import '../../variables/main';

.Linking {
    pointer-events: none;
}
.PDFIconContainer {
    justify-content: center;
    .PDFIcon {
        margin: .5em
    }
}

.description {
  margin: 3% 0;
  @media #{$desktop-1366} {
    width: 60% !important;
  }
}

.Container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.ImageContainer {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
