@import '../../variables/main';

.Linking {
    pointer-events: none;
}
.PDFIconContainer {
    justify-content: center;
    .PDFIcon {
        margin: .5em
    }
}
.ContentImage {
    background-size: 200%;
}
.Container {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.ImageContainer {
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
