@import '../../variables/main';

.Linking {
    pointer-events: none;
}

.PDFIconContainer {
    justify-content: flex-end;
    .PDFIcon {
        margin: .5em .5em 0 0;
    }
}

.ContentImage {
    background-size: 200%;
}

.ImageContainer {
    margin: .25em;
    .ImageItemContainer {
        justify-content: flex-start;
    }
}