@import '../../variables/main';
.button {
    background-color: $red;
    font-size: calc(1em + .5vw);
    padding: .25em 1em;
    outline: none;
    border: none;
    border-radius: .5em;
    margin: .5em;
    color:white;
    box-shadow: .1em .15em .25em#9c9c9c;
}