.About {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-height: 100vh;
  max-width: 80%;
  padding: 0 10%;
  width: 80%;
  text-align: justify;
  background: linear-gradient(0deg,rgba(255,180,1,0),rgba(0,0,0,0.7)),url('../../assets/img/pulau-harapan.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  .text {
    background-color: rgba(0,0,0,0.5);
    padding: 1em;
    color: white;
    flex-direction: column;
    display: flex;
    & > span {
      margin: .25em;
    }
  }
}

.button {
  display: flex;
  justify-content: center;
}