@import '../../variables/main';

.Icon {
  font-size: 2.25rem;

  @media #{$tablet-landscape} { font-size: 3rem }

  &:hover { color: $secondary }
}

.Col, .Row {
  width: 50%;
  &:hover { color: $secondary }
}

.Row {
  align-items: center;
  display: flex;
  justify-content: center;

  & > * {
    padding: 0 1%;
  }
}