@import '../../variables/main';

.Destinations {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .heading {
    display: flex;
    text-align: start;
    font-size: 20pt;
    min-height: 3.15em;
    align-items: center;
    padding: .5em;
  }
}

.customButton {
  font-size: calc(1em + 1vw);
}