.ContentImage {
    text-align: left;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .text {
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        height: 95vh;
        justify-content: flex-end;
        color:white;
        padding: 1em;
        .title {
            font-weight: 900;
            font-size: 30pt;
            text-shadow: .1em .15em .25em rgba(125, 125, 125, .5);
        }
        .subtitle {
            font-weight: 400;
            font-size: 12pt;
        }
    }
}