@import '../../variables/main';

.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-height: 100vh;
  max-width: 100%;;
  width: 100vw;
  background: linear-gradient(0deg,rgba(255,180,1,0),rgba(0,0,0,0.7)),url('../../assets/img/sunrise.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  & > * {
    margin: 2% 0;
    
    @media #{$phone-landscape} {
      margin: 0;
    }
  }
}

.title {
  font-family: $bodoni;
  font-size: calc(3.5rem + 4vw);
  line-height: .75em;
  letter-spacing: .15em;
  color: white;
  @media #{$phone-landscape} {
    line-height: 1em;
    letter-spacing: .2em;
  }
}

.subtitle {
  font-family: $lato;
  font-size: calc(.85rem + 1vw);
  text-transform: uppercase;
  line-height: .5em;
  letter-spacing: .25em;
  color: white;
  @media #{$phone-landscape} {
    line-height: .75em;
    letter-spacing: .4em;
  }
}

.customButton {
  font-size: calc(1em + 1vw);
  background-color: transparent !important;
  border: solid 1pt white !important;
  border-radius: 2em !important;
  box-shadow: none !important;
  margin-top: 2em !important;
}