@import '../../variables/main';

.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-height: 100vh;
  max-width: 100%;;
  width: 100%;
  background-color: $primary;
  & > * {
    margin: 2% 0;
    
    @media #{$phone-landscape} {
      margin: 0;
    }
  }
}

.title {
  font-family: $bodoni;
  font-size: 4rem;
  line-height: .75em;
  letter-spacing: .15em;
}

.subtitle {
  font-family: $lato;
  font-size: 1rem;
  text-transform: uppercase;
  line-height: .5em;
  letter-spacing: .25em;
}

.customButton {
  font-size: calc(1em + 1vw);
  background-color: transparent !important;
  border: solid 1pt $foreground !important;
  color: $foreground !important;
  box-shadow: none !important;
}