@import '../../variables/main';

.Home {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-height: 100vh;
  max-width: 100%;;
  width: 100%;
  background-color: $primary;
  & > * {
    margin: 2% 0;
    
    @media #{$phone-landscape} {
      margin: 0;
    }
  }
}

.title {
  font-family: $bodoni;
  font-size: 4rem;
}

.subtitle {
  font-size: 1.15rem;
}

.customButton {
  font-size: calc(1em + 1vw);
}