@import './variables/main';
@import './variables/external';

body, html {
  background-color: $background;
  color: $foreground;
  font-family: $lato;
  font-size: 15px;
  margin: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 0;
  user-select: none;
}

a {
  color: $foreground;
  text-decoration: none;
}
