@import '../../variables/main';

.BurgerContainer {
  align-items: flex-end;
  align-self: flex-end;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-tap-highlight-color: transparent;
  
  & > .burger {
    display: flex;
    flex-direction: column;
    & :nth-child(1) {
      transform-origin: top left;
      transition: transform .5s;
    }
    & :nth-child(2) {
      transform-origin: center center;
      transition: transform .5s;
    }
    & :nth-child(3) {
      transform-origin: bottom left;
      transition: transform .5s;
    }
    
    & > .burgerItem {
      background-color: $foreground;
      border-radius: 3em;
      height: .35em;
      margin: .25em 0;
      width: 2.5em;
    }
  }
}
