.Image {
    align-content: center;
    display: flex;
    flex-basis: 1;
    justify-content: center;
    width: 30vw;
    height: 30vw;
    margin: 1vw;
    background-position: center;
    background-size: cover;
}